.bg-cover
  background-size: cover
  background-position: center
  background-repeat: no-repeat

background-variant('bg-white', #fff)
background-variant('bg-success', $color-success)
background-variant('bg-grey', #f6f6f6)
background-variant('bg-muted', #eef0f3)
background-variant('bg-error-light', #fbf0f0)
background-variant('bg-error', $color-error)

.no-background
  background: none !important

.hover\\:bg-white-100:hover
  background-color: rgba(255, 255, 255, .1) !important

.hover\\:bg-white-200:hover
  background-color: rgba(255, 255, 255, .2) !important

.bg-white-100
  background-color: rgba(255, 255, 255, .1) !important

.bg-white-200
  background-color: rgba(255, 255, 255, .2) !important

.hover\\:btn-light:hover
  background-color: rgba(255, 255, 255, .1) !important

.bg-black-100
  background: rgba(0,0,0,.1)

.bg-contain
  background-size: contain
