.overflowHidden
  overflow: hidden

.op-light
  opacity: .5

.h-full
  height: 100%

.w-100,
.w-full
  width: 100%

.w-40
  width: 40px

.h-40
  height: 40px

.w-64
  width: 64px

.w-64
  height: 64px

.w-50
  width: 50%

.max-w-400
  max-width: 400px

.w-32
  width: 32px

.h-32
  height: 32px

.w-36
  width: 36px

.h-36
  height: 36px

.w-48
  width: 48px

.h-48
  height: 48px

.opacity-75
  opacity: .75

.opacity-50
  opacity: .50

.tc-white-hover:hover
  color: #fff !important;


.transition
  transition: all .2s;

.-ml-3
  margin-left: -1rem
