background-variant(
  $className,
  $background,
  $background-hover = darken($background, 3%),
  $background-active = darken($background, 6%)
)

  .hover\\:{$className}:hover {
    background: $background-hover !important
  }

  .{$className}
    background: $background !important

    &.action:hover,
    &.action:focus
      cursor: pointer
      background: $background-hover !important

    &.action.active,
    &.action:active
      background: $background-active !important
